.flatView{
    width:700px;
    padding: 7%;
}
.select{
    width: 100px;
}

div.row {
    display: table-row;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 75px;
    margin-left: 75px;
}
select{
    padding: 1%;
    border-radius: 2%;
}
div.cell {
    display: table-cell;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 15px;
    height: 15px;
    color: white;
    background-color: rgba(128, 128, 128, 0.603);
    border-radius: 8px;
}
html {
    height: 100%;
  }
  body {
    min-height: 100%;
    padding: 2%;
  }
.cell:hover{
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.rubikscube{
    align-self: center;
    padding: 1%;
 
    border: solid;
    border-color: #000000;
    border-width: 1px;
}
#face1{
    padding-top:50px;
    padding-left: 180px;
    padding-bottom: 4px;
}

#face2{
    
    padding-left: 15px;
    padding-top: 1px;
    display: inline;
}
#face3{
    padding-left: 4px;
    padding-top: 1px;
    display: inline;
}
#face4{
    padding-left: 4px;
    padding-top: 1px;
    display: inline;
}
#face5{
    padding-left: 4px;
    padding-top: 1px;
    display: inline;
}
#face6{
    
    padding-left: 180px;
    padding-top: 4px;
    
}
#rColors *{
    border-radius: 130px;
}
